<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Painel do Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="admin-card">
        <h1>Painel do Administrador</h1>

        {% if stats_delete %}
        <p class="stats_delete">{{ stats_delete }}</p>
        {% endif %}

        {% if stats_edit %}
        <p>Alterações bem sucedidas</p>
        {% endif %}

        <p class="subtitulo">Usuários cadastrados no sistema:</p>

        {% if usuarios %}
        <table>
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario, senha in usuarios.items() %}
                <tr method="GET">
                    <td><strong>{{ usuario }}</strong></td>
                    <td><code>{{ senha }}</code></td>
                    {% if usuario != 'admin' %}
                        <td>
                            <form action="/admin/delete_user" method="POST">
                                <button type="submit" name="usuario_deletado" value="{{ usuario }}">DELETAR</button>
                            </form>
                        </td>
                        <td>
                            <a href="{{ url_for('edit_user', usuario=usuario) }}">EDITAR</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="sem-usuarios">Nenhum usuário cadastrado até o momento.</p>
        {% endif %}

        <div class="acoes">
            <a href="/" class="btn-voltar">Voltar para o Login</a>
        </div>
    </div>

</body>

</html>