<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>

</head>

<body>

    <div class="formulario-login">
        <h1>Cadastro</h1>

        {% if erro %}
        <p class="erro">{{ erro }}</p>
        {% endif %}

        {% if cadaster %}
        <p class="cadaster">O usuário <strong>{{ cadaster }}</strong> foi cadastrado com sucesso!</p>
        {% endif %}

        <form action="/cadaster" method="POST">
            <div class="grupo-input">
                <label for="cadastro_usuario">Usuário:</label>
                <input type="text" id="cadastro_usuario" name="cadastro_usuario" required>
            </div>

            <div class="grupo-input">
                <label for="cadastro_senha">Senha:</label>
                <input type="password" id="cadastro_senha" name="cadastro_senha" required>
            </div>

            <button type="submit">Cadastrar</button><br>
            <a href="/">Login</a>
        </form>

    </div>

</body>

</html>