<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card text-center">
        <h1>Bem-vindo, {{ nome }}! 🎉</h1>
        <p>Você realizou o login com sucesso no sistema.</p>
        <div class="acoes-rodape">
            <a href="/" class="btn btn-deletar">Sair da conta</a>
        </div>
    </div>
</body>
</html>