<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Aplicação Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h2>Entrar</h2>

        {% if erro %}
        <p class="msg msg-erro">{{ erro }}</p>
        {% endif %}

        <form action="/" method="POST">
            <div class="grupo-input">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="grupo-input">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Acessar</button>
            <div class="link-central">
                <a href="/cadaster" class="btn-link">Não tem conta? Faça seu cadastro.</a>
            </div>
        </form>
    </div>
</body>
</html>